<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
        <tr>
            <th>Subject</th>
            <th>Course</th>
            <th>Title</th>
        </tr>
        <% for ( var i=0; i<result.length; i++) { %>
        <tr>
            <td><%= result[i].subject %></td>
            <td><%= result[i].course %></td>
            <td><a href="/course/<%= result[i].subject %>/<%= result[i].course %>"><%= result[i].title %></a></td>
        </tr>        
        <% } %>
    </table>
  </body>
</html>
